<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="Service_Name" value="PrensasService" />
    <add key="Display_Name" value="PrensasService" />
    <add key="Description" value="Service for request management" />

    <!-- Versión del servicio -->
    <add key="Service_Version" value="1.4 20180509" />

    <!-- Puerto para poner a la escucha el servidor de signalR -->
    <add key="SignalR_Port" value="6969" />

    <!-- Configuración para el servidor de WCF -->
    <add key="WCF_ListenIP" value="127.0.0.1" />
    <add key="WCF_ListenPort" value="44002" />
    
    <!-- Configuración proveedor T-Manager -->
    <add key="database_check_interval" value="1000"/>
    <add key="provider_lastcheckdate_path" value="XML\XML_ProviderLastCheckDate.xml"/>

  </appSettings>
</configuration>