<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- Logger -->
    <!--<section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>-->
    <section name="validationConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Validation.Configuration.ValidationSettings, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />

    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <!-- Fin de logger-->

    <!-- Oracle 12 -->
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>

  <!-- Logger -->
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add source="Enterprise Library Logging" formatter="MiFormat" log="Application" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" filter="Warning" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Formatted EventLog TraceListener" />
      <add fileName="Logs\Log.log" footer="" formatter="MiFormat" header="" rollFileExistsBehavior="Overwrite" rollInterval="None" rollSizeKB="32768" timeStampPattern="yyyy-MM-dd" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Rolling" />
      <add fileName="Logs\UnprocessedCategory.log" footer="----------------------------------------" formatter="" header="----------------------------------------" rollFileExistsBehavior="Overwrite" rollInterval="None" rollSizeKB="0" timeStampPattern="yyyy-MM-dd" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Rolling Flat File Trace Listener" />
    </listeners>
    <formatters>
      <add template="{timestamp} {severity} {priority} {category} {message}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="MiFormat" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Rolling" />
        </listeners>
      </add>
      <!-- Aqui especificamos el nivel de detalle de una clase específica -->
      <add switchValue="Information" name="ApplicationTest.Form1">
        <listeners>
          <add name="Rolling" />
        </listeners>
      </add>
      <!-- Estadísticas de tiempo de respuesta de la BD -->
      <add switchValue="Information" name="Model.Oracle12_DataContext.Accessor">
        <listeners>
          <add name="Rolling" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="Rolling" />
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <!-- Fin del logger-->
  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>


  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>        
        <!--<dataSource alias="BOSS2TS" descriptor="(DESCRIPTION =                                                              (ADDRESS = (PROTOCOL = TCP)(HOST = mfpsm-dldbora1.bridgestone.eu)(PORT = 1529))                                                               (CONNECT_DATA =                                                                 (SERVER = DEDICATED)                                                                 (SERVICE_NAME = BOSS2TS)                                                               )                                                             )" />-->
      </dataSources>
      <settings>
        <setting name="tns_admin" value="C:\app\jonathan.cobo\product\11.2.0\client_1\Network\Admin" />
        <!--<setting name="tns_admin" value="C:\oracle\product\11.2.0\client_1\network\admin" />-->
        <!--<setting name="tns_admin" value="tns" />-->
      </settings>
    </version>
  </oracle.manageddataaccess.client>

  <appSettings>
    <add key="Service_Name" value="PrensasService" />
    <add key="Display_Name" value="PrensasService" />
    <add key="Description" value="Service for request management" />

    <!-- Versión del servicio -->
    <add key="Service_Version" value="1.4 20180509" />

    <!-- Puerto para poner a la escucha el servidor de signalR -->
    <add key="SignalR_Port" value="6969" />

    <!-- Tiempo programado para realizar comprobaciones por si signalR se ha caido -->
    <add key="TiempoValidacionSignalR" value="60" />

    <!-- Configuración para el servidor de WCF -->
    <add key="WCF_ListenIP" value="127.0.0.1" />
    <add key="WCF_ListenPort" value="44002" />
    
    <!-- Configuración proveedor T-Manager -->
    <add key="database_check_interval" value="1000"/>
    <add key="provider_lastcheckdate_path" value="XML\XML_ProviderLastCheckDate.xml"/>
  </appSettings>
</configuration>